<div style="display: flex; flex-direction: column; align-items: center; width: 100%;">
    <div class="solve-btn-wrapper" 
         data-tooltip="@(!State.CanSolve ? "Please fill all fields first" : null)">
        <button class="solve-btn" 
                disabled="@(!State.CanSolve)"
                @onclick="State.Solve"> 
            Solve
        </button>
    </div>
    @if (State.Solution != null || State.ErrorMessage != null)
    {
        <div class="solution-output">
            <button class="close-solution" @onclick="State.ClearResults">✕</button>
            @if (State.ErrorMessage != null)
            {
                <div class="error">⚠️ @State.ErrorMessage</div>
            }
            else
            {
                <div style="color: #6D675E; font-size: 0.8rem; margin-bottom: 10px; border: none;">
                    Result:
                </div>
                @for (int i = 0; i < State.Solution!.Length; i++)
                {
                    <div><span style="color: #E8E2D8;">@AppState.GetVariableName(i)</span> = @State.Solution[i]</div>
                }
            }
        </div>
    }
</div>

@code {
    [Parameter] public required AppState State { get; set; }

    
}
